.band {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.band img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.bandInfo {
    flex: 1;
}

.bandInfo p {
    text-align: justify;
}
